html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        header {
            width: 100%;
            height: 60px;
            border-bottom: 1px solid #404040;
            padding-left: 10%;
            h1 {
                
            }
        }
        .wrapper {
            display: block;
            width: 80%;
            margin: auto;
            p {
                font-weight: 600;
                color: #c0c0c0;
                .h2 {
                    font-weight: bold;
                    color: #404040;
                }
                .num {
                    font-weight: bold;
                    color: #404040;
                    font-size: 20px;
                }
                input[type="number"] {
                    width: auto;
                    height: 30px;
                    font-size: 20px;
                    font-weight: bold;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: #404040;
                    border-radius: 5px;
                    border: 1px solid #e0e0e0;
                    background-color: #fcfcfc;
                    text-align: right;
                    width: 5em;
                }
            }
            textarea {
                display: block;
                width: 100%;
                min-height: 10rem;
                margin: 50px auto 0;
                padding: 1rem;
                line-height: 1.5;
                box-sizing: border-box;
                border: 1px solid #404040;
                border-bottom: none;
                box-sizing: border-box;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                font-size: 24px;
                color: #606060;
                resize: none;
                &:focus {
                    outline: none;
                }
            }
            .rate-wrapper {
                width: 100%;
                height: 20px;
                background-color: #404040;
                overflow: hidden;
                margin: 0 auto;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                position: relative;
                border: 1px solid #404040;
                box-sizing: border-box;
                .rate-bar {
                    width: 0;
                    height: 100%;
                    background-color: #43c343;
                }
                span {
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    top: 0px;
                    text-align: center;
                    color: #606060;
                    font-size: 12px;
                    line-height: 20px;
                }
                .red {
                    background-color: #ffa7a7;
                }
                .orange {
                    background-color: #ffe7a7;
                }
                .yellow {
                    background-color: #ffffa7;
                }
                .yellowgreen {
                    background-color: #e7ffa7;
                }
                .green {
                    background-color: #a7ffa7;
                }
            }
            .msg-wrapper {
                width: 100%;
                height: 50px;
                display: flex;
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    background-color: #ff89c9;
                }
            }
        }
    }
}